{{ define "main" }}
    <article>
        <h2>{{ .Title }}</h2>
        {{ .Content }}
    </article>
    {{- partial "ad.html" . -}}
    {{ range .Pages.ByPublishDate.Reverse }}
        {{ if not .Params.IsPage }}
            <article class="listitem" style="background-image: url('{{ .Params.coverImage }}')">
                <date>{{ .Date.Local.Format "2006-01-02" }}</date>
                <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </article>
        {{ end }}
    {{ end }}
{{ end }}